img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #646464;
  margin: 0px; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #EB3656;
  padding: 0 30px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #EB3656;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(235, 54, 86, 0.65);
  -moz-box-shadow: 0px 5px 16px 0px rgba(235, 54, 86, 0.65);
  box-shadow: 0px 5px 16px 0px rgba(235, 54, 86, 0.65);
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase; }
  .main-btn i {
    margin-right: 5px; }
  .main-btn:hover {
    background-color: #fff;
    color: #EB3656;
    border-color: #EB3656; }
  .main-btn.main-btn-2 {
    background-color: #fff;
    color: #EB3656;
    border-color: #EB3656; }
    .main-btn.main-btn-2:hover {
      background-color: #EB3656;
      border-color: #EB3656;
      color: #fff; }

/*===========================
       10.FOOTER css 
===========================*/
@media (max-width: 767px) {
  .footer-widget {
    padding-top: 30px;
    padding-bottom: 80px; } }

.footer-logo a img {
  width: 140px; }

.footer-logo p {
  line-height: 26px;
  font-size: 16px; }

.footer-logo .footer-info li {
  margin-top: 20px; }
  .footer-logo .footer-info li .single-info {
    position: relative; }
    .footer-logo .footer-info li .single-info .info-icon {
      position: absolute;
      top: 3px;
      left: 0; }
      .footer-logo .footer-info li .single-info .info-icon i {
        font-size: 18px;
        
      }
    .footer-logo .footer-info li .single-info .info-content {
      padding-left: 30px; }

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 15px; }
  .footer-logo .footer-social li:first-child {
    margin-left: 0; }
  .footer-logo .footer-social li a {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff5f1;
    color: #646464;
    font-size: 16px;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
    -moz-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
    box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
    .footer-logo .footer-social li a:hover {
      background-color: #EB3656;
      color: #fff; }

.f-title .title {
  font-size: 22px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600; }

.footer-link ul li {
  padding-top: 5px; }
  .footer-link ul li a {
    font-size: 16px;
    color: #646464;
    font-family: 'Hind', sans-serif;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
    .footer-link ul li a:hover {
      color: #EB3656; }

.footer-newsleter p {
  line-height: 26px;
  font-size: 16px; }

.footer-newsleter .newsleter {
  position: relative; }
  .footer-newsleter .newsleter input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #EB3656;
    background-color: #ffeae1; }
  .footer-newsleter .newsleter button {
    border: 0;
    width: 66px;
    text-align: center;
    padding: 0;
    height: 50px;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #EB3656;
    font-size: 20px;
    line-height: 57px;
    cursor: pointer; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .footer-newsleter .newsleter button {
        width: 45px; } }
    .footer-newsleter .newsleter button::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 1px;
      height: 36px;
      background-color: #EB3656;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.copyright-area {
  border-top: 1px solid #eceff8;
  padding: 13px 0; }

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 46px;
  z-index: 99;
  text-align: center;
  display: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  color: #fff;
  background-color: #EB3656; }
  .back-to-top:hover {
    color: #EB3656;
    background-color: #fff; }
